@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background: #212121;
  color: white;
  /* position: relative; */
  margin: 0px;
}
#caution {
  display: none;
}
@media (min-width: 475px) {
  .container {
    display: none;
  }
  #caution {
    display: block;
    color: #60c689;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
  }
}

.phone-wrapper {
  max-width: 410px;
  max-height: 1000px;
  min-width: 393px;
  max-width: 852px;
}

.wrapper {
  margin: 16px;
  margin-top: 64px;
}

.wrapper .no-padding {
  margin: 0px;
}
/* className="wrapper no-top-padding" */

.db {
  border: 1px solid salmon;
}

.accblock-frame {
  display: flex;
  align-items: center;
}

.name-box {
  margin-left: 16px;
  width: 70%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.text-grey {
  color: #bcbcbc;
}

.Songblock-frame {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
  padding-top: 8px;
  padding-bottom: 8px;
}

.bgeffect:hover {
  background: rgba(255, 255, 255, 0.05);
}

.only-text-frame {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.songblock-pic {
  min-width: 47px;
  min-height: 47px;
}

.left {
  display: flex;
  align-items: center;
  width: 100%;
}

.font700 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.font400 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.right {
  /* border: 1px solid salmon; */
  display: flex;
  align-items: center;
}

.your-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-top: 16px;
}

.recents {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.threedots:hover,
.threedots:focus,
.threedots:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.song-frame {
  margin-top: 32px;
}

.lyric-box {
  background: #60c689;
  margin-top: 32px;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  padding-top: 24px;
  width: 100%;
  height: 200px;
}

.lyric-box-2 {
  background: #60c689;
  margin-top: 32px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 24px;
  width: 100%;
  height: 100%;
}
.lyric-box-box {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  padding: 24px;
}

.lyric-head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.song-name-player {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.song-date-player {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #bcbcbc;
}

.mg32 {
  margin-bottom: 32px;
}

.mg48 {
  margin-bottom: 48px;
}

.top-upload {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  height: 48px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.filename {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.top-lyric-edit {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.top-lyric-edit2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.button1:hover,
.button1:focus,
.button1:active {
  color: #ddfbe9;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.button2:hover,
.button2:focus,
.button2:active {
  transition: 0.15s ease-out;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.button3:hover,
.button3:focus,
.button3:active {
  color: #60c689;
  transition: 0.15s ease-out;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.button4:hover,
.button4:focus,
.button4:active {
  border-radius: 20px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.button5:hover,
.button5:focus,
.button5:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.top-lyric-stroke {
  background: #373737;
  height: 1px;
  padding: 0px;
}

.top-lyric-stroke .h05 {
  background: #373737;
  height: 0.5px;
}

.text-green {
  color: #60c689;
}

.lyric-edit-box-songname {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.lyric-edit-box-input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #bcbcbc;
}

.title-input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.note-input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.draft-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.draft-block-frame {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
  height: 64px;
}

.stroke1 {
  width: 100%;
  background: #bcbcbc;
}

.detail-song-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.note-box {
  background: #60c689;
  margin-top: 52px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 24px;
  width: 100%;
  height: 100%;
}

.bottom-songblock-frame {
  background: #484848;
  border-radius: 8px;
  position: fixed;
  bottom: 32px;
  border-bottom: 3px solid #60c689;
}

.lyric-box-box {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.bottom-pic-max-size {
  max-width: 44px;
  max-height: 44px;
}

.block-pic-max-size {
  max-width: 47px;
  max-height: 47px;
}

.background-fill {
  position: fixed;
  bottom: 0px;
  background: rgba(33, 33, 33, 0.5);
  backdrop-filter: blur(25px);
  height: 40px;
  width: 100%;
}
